.card {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #fff;
    margin-top: 30px;
    padding: 20px;
    width: 350px;
    text-align: center;
}



.cards-list {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    padding: 20px;
}


.icons {
    color: rgb(3, 189, 218);
    border: 1px solid rgb(204, 202, 202);
    border-radius: 100%;
    padding: 15px;
    width: 30px;
    height: 30px;
    margin-top: 20px;
    margin-bottom: 20px;
}


.card-content {
    text-align: center;
    margin-left: 15px;
}

.card-content h3 {
    color: black;
    margin: 10px 0;
}

.card-content p {
    text-align: left;
    color: #555;
    font-size: 13px;
}

/* Responsive breakpoints */
 @media (min-width: 1660px) {
    .card {
      width: 400px;
      justify-content: flex-start;

    }
  }

  @media (min-width: 1860px) {
    .card {
      width: 500px; 
      justify-content: flex-start;
    }
  }
  
